html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset css */

html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(52, 51, 53);
}
.container{
    width: 100%;
    height: 100%;
    color: white;
}
.edit{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-weight: bold;
    color: white;
    align-items: center;
}
h1{   
    font-size: 25px;
}
.bla{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

}
.bla div{
	width: 30%;
	padding: 20px;
	justify-content: space-between;
	display: flex;
	align-items: center;
}
label{
	font-weight: bold;
}
form input{
	width: 70%;
	height: 30px;
	background-color: transparent;
	border: 1px rgb(172, 179, 179) solid;
	color: white;
	font-size: 15px;
    outline-color: rgb(117, 117, 118);

}
.postId{
	border: 0;
	background-color: rgb(86, 89, 89);
	outline: none;
}